{% load static %}


{% for rooms in room %}
<div class="card-room">
    <!-- {% if request.user == rooms.host %}
    <a href="{% url 'update-room' rooms.id %}">Edit</a>
    <a href="{% url 'delete-room' rooms.id %}">Delete</a>
    {% endif %} -->
    <!-- <h4>{{rooms.host.username}}</h4>
    <p>{{rooms.id}}</p> --
    <p>{{rooms.description}}</p> --
    <a href="{% url 'rooms' rooms.id %}">{{rooms.name}}</a>
    <hr> -->
    <div class="card-head">
        <div class="user-room">
            <img src="{{ rooms.host.profile.image.url }}" alt="login image"  width="42" height="42" class="img-user">
            <h5 class="username-tag">@{{rooms.host.username|title}}</h5>
        </div>
        {% if request.user == rooms.host %}
        <div class="options-room">
            <button class="btn-config">
                <a href="{% url 'update-room' rooms.id %}" style="text-decoration: none; color: #ffff;">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </button>
            <button class="btn-config" onclick="deleteRoom({{rooms.id}})">
                    <i class="fa-solid fa-trash"></i>
            </button>
        </div>
        {% endif %}
    </div>  
    <div class="card-body">
        <a href="{% url 'rooms' rooms.id %}" class="link-room">
            <h2 class="room-name">{{rooms.name}}</h2>
        </a>
        <p class="room-desc">{{rooms.description}}</p>
    </div>
    <div class="card-footer">
        <div class="line-foot"></div>
        <div class="foot-card">
            <p class="online">{{rooms.participants.all.count}} participantes</p>
            <span class="topic">{{rooms.topic}}</span>
        </div>
    </div>
</div>
{% endfor %}


<script>
    function deleteRoom(id){
        Swal.fire({
            "title":"<span style='color:white'>¿Estás seguro?</span>",
            "html": "<span style='color:white'>Eliminarás la sala de forma permanente</span>",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Confirmar",
            "confirmButtonColor": "#00d61d",
            "reverseButtons": true,
            "cancelButtonColor":"red",
            "background": "#704994",
            
        })
        .then(function(result){
            if (result.isConfirmed) {
                window.location.href="delete-room/"+id+"/"
            }
        });
    }
</script>
