{% extends '../base.html'%}


{% block content %}
<div class="app" style="color: var(--gray-light-color)">
    <br><br><br>

    

    <div class="cont-main">
        <div class="filter-component">
            <h3>TOP SALAS</h3>
        </div>

        <div class="rooms-component">
            <div class="header-main">
                <div class="text-main">
                    <h2>Holigram Salas</h2>
                    <h4>Total de salas disponibles para postear</h4>
                </div>
                <h3 class="crear-sala"><a href="">+ Crear Sala</a></h3>
            </div>
                <div class="sin-resultados">
                    <h4>No se encontraron resultados</h4>
                </div>
        </div>
    </div>
     
</div>

<div class="popup-back">
    <div class="popup-cont">
        <img src="" class="correct-post" alt="check img">
        <h2 class="popup-title">Todo salió bien!</h2>
        <p class="message">{{m}}</p>
    </div>
    <button class="close-popup" id="close"><i class="fa-solid fa-xmark"></i></button>
    <img src="" class="mascota-popup">
</div>

{% endblock content %}

